body {
    margin: 0; /* Видаляє стандартні зовнішні відступи браузера. */
    padding: 0; /* Видаляє стандартні внутрішні відступи браузера. */
    display: flex; /* Встановлює Flexbox для розміщення дочірніх елементів. */
    justify-content: center; /* Центрує дочірні елементи (контейнер калькулятора) горизонтально. */
    align-items: center;  /* Центрує дочірні елементи (контейнер калькулятора) вертикально. */
    height: 100vh; /* Встановлює висоту тіла документа рівною 100% висоти вікна браузера. */
    background-color: #b58670; /* Задає колір фону для сторінки (коричневий). */
}

#Mocha {
    color: aliceblue;
    align-items: center;
    margin: 0;
}
.calculator {
    display: grid; /* Встановлює CSS Grid для контейнера, що дозволяє розташовувати кнопки у вигляді сітки. */
    grid-template-columns: repeat(4, 40px);  /* Створює 4 стовпці однакової ширини (по 50px кожен). */
    gap: 15px; /* Встановлює відстань між кнопками (10px). */
    justify-content: start; /* Вирівнює всі елементи сітки по лівому краю контейнера. */
    padding: 30px; /* Додає внутрішні відступи контейнера (10px з усіх боків). */
    background-color: #8b5e42;
    border-radius: 5px;
}
button {
    width: 50px;
    height: 50px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    font-size: 18px;
    cursor: pointer;
    border-radius: 3px;
}


#result {
    background-color: #4a4a4a49;
    font-size: 30px;
    color: white;
    width: 215px;
    font-family: Arial, Helvetica, sans-serif;
}

